---
import BentoList from "@/components/bento-list.astro";
import CategoryFilter from "@/components/category-filter.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bentoed - 30+ Bento Grid Components">
  <main class="max-w-[1300px] flex flex-col mx-auto px-3 gap-20">
    <Header />
    <Hero />
    <CategoryFilter />
    <BentoList />
    <Footer />
  </main>
</Layout>

<style></style>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>

<script is:inline src="/scripts/bento-interactions.js"></script>
