---

---

<section class="w-full sm:max-w-2xl flex flex-col items-center mx-auto">
  <h1
    class="text-center text-4xl sm:text-6xl font-medium text-primary select-none"
  >
    <span data-i18n="hero.title1">40+ modern,</span>
    <span
      class="bg-gradient-to-r from-primary to-highlight text-transparent bg-clip-text"
    >
      <span data-i18n="hero.title2">bento-grid components.</span>
    </span>
  </h1>
  <p
    class="mt-6 text-center leading-6 text-secondary text-md sm:text-xl select-none"
  >
    <span data-i18n="hero.subtitle">Ready-to-use bento grid designs. Simply copy and paste into your next project. Crafted with HTML, CSS, and Tailwind CSS.</span>
  </p>

  <a
    href="https://github.com/miguelrodriguezp99/Bentoed"
    target="_blank"
    rel="noopener noreferrer"
    class="mt-10 px-5 py-1 text-md
    bg-primary text-tertiary border border-secondary
    rounded-tl-md rounded-br-md cursor-pointer
    transition-all duration-300 ease-in-out select-none
    hover:text-primary hover:bg-tertiary"
    ><span data-i18n="ui.goToGithub">Go to GitHub</span></a
  >
</section>
