---
import { Bento_1 } from "@/lib/BentoCodes.js";
import BentoHeader from "./BentoHeader.astro";
import BentoCode from "./BentoCode.astro";
---

<div class="bento-section flex flex-col gap-5 mt-16">
  <BentoHeader bentoTitle="Bento 3" />

  <section
    id="bento-div"
    class="w-full grid grid-cols-8 max-auto auto-rows-[10rem] gap-4 p-1"
  >
    <div
      class="col-span-4 lg:col-span-2 lg:row-span-2 group overflow-hidden rounded-md"
    >
      <img
        src="images/image.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div class="col-span-2 lg:col-span-2 group overflow-hidden rounded-md">
      <img
        src="images/image2.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div class="col-span-2 lg:col-span-2 group overflow-hidden rounded-md">
      <img
        src="images/image3.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="col-span-2 lg:col-span-2 lg:row-span-2 group overflow-hidden rounded-md"
    >
      <img
        src="images/image4.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="col-span-4 lg:col-span-4 lg:row-span-2 group overflow-hidden rounded-md"
    >
      <img
        src="images/image6.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="col-span-2 lg:col-span-2 lg:row-span-1 group overflow-hidden rounded-md"
    >
      <img
        src="images/image8.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="col-span-2 lg:col-span-2 lg:row-span-2 group overflow-hidden rounded-md"
    >
      <img
        src="images/image9.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="col-span-2 lg:col-span-4 lg:row-span-1 group overflow-hidden rounded-md"
    >
      <img
        src="images/image3.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="col-span-4 lg:col-span-2 lg:row-span-1 group overflow-hidden rounded-md"
    >
      <img
        src="images/image.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>
  </section>

  <BentoCode bento={Bento_1} />
</div>
