---
import { Bento_1 } from "@/lib/BentoCodes.js";
import BentoHeader from "./BentoHeader.astro";
import BentoCode from "./BentoCode.astro";
---

<div class="bento-section flex flex-col gap-5 mt-16">
  <BentoHeader bentoTitle="Bento 2" />

  <section
    id="bento-div"
    class="w-full grid grid-cols-12 max-auto auto-rows-[20rem] gap-4 p-1"
  >
    <div class="col-span-12 md:col-span-6 group overflow-hidden rounded-lg">
      <img
        src="images/image.avif"
        class="h-full w-full object-cover object-top group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div class="col-span-12 md:col-span-6 group overflow-hidden rounded-lg">
      <img
        src="images/image2.avif"
        class="h-full w-full object-cover object-top group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="hidden md:block col-span-12 md:col-span-6 group overflow-hidden rounded-lg"
    >
      <img
        src="images/image.avif"
        class="h-full w-full object-cover object-center group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div
      class="hidden md:block col-span-12 md:col-span-6 group overflow-hidden rounded-lg"
    >
      <img
        src="images/image2.avif"
        class="h-full w-full object-cover object-center group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div class="col-span-6 md:col-span-3 group overflow-hidden rounded-lg">
      <img
        src="images/image6.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div class="col-span-6 md:col-span-3 group overflow-hidden rounded-lg">
      <img
        src="images/image7.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>
    <div class="col-span-6 md:col-span-3 group overflow-hidden rounded-lg">
      <img
        src="images/image8.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>

    <div class="col-span-6 md:col-span-3 group overflow-hidden rounded-lg">
      <img
        src="images/image9.avif"
        class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
      />
    </div>
  </section>

  <BentoCode bento={Bento_1} />
</div>
