---
import HeaderButton from "./HeaderButton.astro";

const { bentoTitle } = Astro.props;
---

<div class="flex gap-5">
  <div class="flex flex-1">
    <h2
      class="bento-header text-md md:text-2xl font-bold text-highlight_hover ml-1
      cursor-pointer flex text-center items-center"
    >
      ▢ {bentoTitle}
    </h2>
  </div>
  <HeaderButton text="bento" />
  <HeaderButton text="html" />
  <HeaderButton text="css" />
  <HeaderButton text="tailwind" />
</div>
